<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API_Suite"  >
	<test name="Test" group-by-instances="false" preserve-order="true">
	 
	  <classes>
      <class name="com.company.project.test.TestAPI">
      </class>
      </classes> 
     
	</test> 
</suite> 